<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-step-title" style="border-bottom: 1px solid #eaeaea">Frakt</div>
    <div class="checkout-shipping-method porterbuddy">
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form class="form methods-shipping" id="co-shipping-method-form">
                <div id="checkout-shipping-method-load">
                    <div id="porterbuddy-checkout_summary" style="z-index: 1">
                    </div>
                </div>
                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
            </form>
        </div>
    </div>
    <div class="checkout-step-title" style="border-bottom: 1px solid #eaeaea">Betaling</div>

</li>
