<?xml version="1.0"?>
<!--
/**
 * @author Convert Team
 * @copyright Copyright (c) 2018 Convert (http://www.convert.no/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <porterbuddy>
                <active>0</active>
                <model>Porterbuddy\Porterbuddy\Model\Carrier</model>
                <title>Express Shipping With Porterbuddy</title>
                <description>Simple and flexible. You decide when and where delivery will take place, at home, at work or elsewhere.</description>
                <asap_name>Express shipping</asap_name>
                <show_availability>only_available</show_availability>
                <availability_alternate_view>0</availability_alternate_view>
                <availability_auto_update_composite>1</availability_auto_update_composite>
                <days_ahead>7</days_ahead>
                <preselect_location>1</preselect_location>
                <pickup_windows_extra>3</pickup_windows_extra>
                <timeslot_cutoff>1</timeslot_cutoff>
                <timeslot_window>2</timeslot_window>
                <asap_cutoff>1</asap_cutoff>
                <porterbuddy_until>0</porterbuddy_until>
                <hours_mon>08:00,16:00</hours_mon>
                <hours_tue>08:00,16:00</hours_tue>
                <hours_wed>08:00,16:00</hours_wed>
                <hours_thu>08:00,16:00</hours_thu>
                <hours_fri>08:00,16:00</hours_fri>
                <hours_sat>00:00,00:00</hours_sat>
                <hours_sun>00:00,00:00</hours_sun>
                <require_signature_default>0</require_signature_default>
                <id_check_default>0</id_check_default>
                <only_to_recipient_default>0</only_to_recipient_default>
                <refresh_options_timeout>5</refresh_options_timeout>
                <leave_doorstep_enabled>0</leave_doorstep_enabled>
                <hide_shipping_empty_address>1</hide_shipping_empty_address>
                <auto_create_shipment>1</auto_create_shipment>
                <api_mode>test</api_mode>
                <development_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <testing_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <production_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <inbound_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <maps_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <default_phone_code>+47</default_phone_code>
                <packager_mode>per_item</packager_mode>
                <packing_time>0</packing_time>
                <weight_unit>KILOGRAM</weight_unit>
                <dimension_unit>CENTIMETER</dimension_unit>
                <error_email_enabled>1</error_email_enabled>
                <error_email_template>carriers_porterbuddy_error_email_template</error_email_template>
                <!-- internal constants -->
                <error_email_porterbuddy>dev@porterbuddy.com</error_email_porterbuddy>
                <api_timeout>30</api_timeout>
                <development_api_url>https://api.porterbuddy-staging.com</development_api_url>
                <testing_api_url>https://api.porterbuddy-test.com</testing_api_url>
                <production_api_url>https://api.porterbuddy.com</production_api_url>
                <widget_url>https://widget.porterbuddy.com</widget_url>
                <address_warning_title>Leveringsalternativ</address_warning_title>
                <address_warning_text>Fyll ut postnummer for å velge leveringslternativ</address_warning_text>
                <address_warning_close_label>Lukk</address_warning_close_label>
            </porterbuddy>
        </carriers>
    </default>
</config>
